body {
  background-color: #C7EEFF;
  font-size: 18px;
}

.cat-container {
  position: relative;
  width: 1000px;
  display: block;
  margin: 0 auto;
}

.cat-pic {
  display: block;
  width: 1000px;
}

h2 {
  position: absolute;
  display: inline-block;
  bottom: -67px;
  font-size: 67px;
  width: 100%;
  text-align: center;
  color: #F1FCFD;
  text-shadow: 4px 3px #393737;
}

.big-tear {
  position: absolute;
  height: 40px;
  -webkit-animation: rightcry 3s infinite;
  animation-timing-function: linear;
}

.left-tear {
  position: absolute;
  height: 50px;
  -webkit-animation: leftcry 4s infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rightcry {
  0% {
    bottom: 231px;
    left: 551px;
    height: 10px;
    transform: rotate(-20deg);
  }
  50% {
    bottom: 161px;
    left: 581px;
    height: 50px;
    transform: rotate(-18deg);
  }
  100% {
    bottom: 84px;
    left: 568px;
    transform: rotate(4deg);
  }
}

@-webkit-keyframes leftcry {
  0% {
    bottom: 240px;
    left: 404px;
    height: 20px;
    transform: rotate(34deg);
  }
  30% {
    bottom: 195px;
    left: 362px;
    height: 50px;
  }
  100% {
    bottom: 98px;
    left: 350px;
  }
}
