body {
  font-family: sans-serif;
}

.toggle {
  font-size: 36px;
  text-align: center;
}

.fa-power-off {
  cursor: pointer;
}

.on {
  color: green;
}

.off {
  color: red;
}

.rules-container {
  width: 185px;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.distract-entries {
  margin: 2px 0;
}

button {
  margin-top: 5px;
  cursor: pointer;
  width: 60px;
  font-size: 13px;
  align-self: center;
  border-radius: 10%;
  background-color: #eef7fb;
  border: 1px solid #5fafdd;
}
